<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cqsrun010001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,166},{128,160}}</string>
                <key>offset</key>
                <string>{-16,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,12},{128,160}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>cqsrun010002.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,328},{124,160}}</string>
                <key>offset</key>
                <string>{-14,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,15},{124,160}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>cqsrun010003.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,2},{128,154}}</string>
                <key>offset</key>
                <string>{-15,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,22},{128,154}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>cqsrun010004.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,154},{136,146}}</string>
                <key>offset</key>
                <string>{-18,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,17},{136,146}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>cqsrun010005.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,312},{142,148}}</string>
                <key>offset</key>
                <string>{-19,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,13},{142,148}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>cqsrun010006.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,2},{140,150}}</string>
                <key>offset</key>
                <string>{-20,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,11},{140,150}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>cqsrun010007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{128,162}}</string>
                <key>offset</key>
                <string>{-15,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,10},{128,162}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>cqsrun010008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,328},{124,160}}</string>
                <key>offset</key>
                <string>{-13,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,15},{124,160}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>cqsrun010009.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,302},{122,144}}</string>
                <key>offset</key>
                <string>{-12,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,32},{122,144}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>cqsrun010010.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,154},{128,142}}</string>
                <key>offset</key>
                <string>{-15,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,29},{128,142}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>cqsrun010011.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,2},{134,138}}</string>
                <key>offset</key>
                <string>{-19,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,25},{134,138}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>cqsrun010012.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,158},{130,152}}</string>
                <key>offset</key>
                <string>{-17,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,16},{130,152}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>cqsrun01.png</string>
            <key>size</key>
            <string>{1024,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d0a1dfdea161b300b1ada1db516c7fd7:80eb6926e8b864b528a91bb891398e34:8963f80051cfe1f9a753e5198486346f$</string>
            <key>textureFileName</key>
            <string>cqsrun01.png</string>
        </dict>
    </dict>
</plist>
