<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>gjsHIT20001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,330},{114,80}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,9},{114,80}}</string>
                <key>sourceSize</key>
                <string>{150,100}</string>
            </dict>
            <key>gjsHIT20002.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,248},{114,80}}</string>
                <key>offset</key>
                <string>{-3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,7},{114,80}}</string>
                <key>sourceSize</key>
                <string>{150,100}</string>
            </dict>
            <key>gjsHIT20003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,248},{114,80}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,9},{114,80}}</string>
                <key>sourceSize</key>
                <string>{150,100}</string>
            </dict>
            <key>gjsHIT20004.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,166},{114,80}}</string>
                <key>offset</key>
                <string>{-5,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,9},{114,80}}</string>
                <key>sourceSize</key>
                <string>{150,100}</string>
            </dict>
            <key>gjsHIT20005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,330},{114,80}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,9},{114,80}}</string>
                <key>sourceSize</key>
                <string>{150,100}</string>
            </dict>
            <key>gjsHIT20006.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,248},{114,80}}</string>
                <key>offset</key>
                <string>{-3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,7},{114,80}}</string>
                <key>sourceSize</key>
                <string>{150,100}</string>
            </dict>
            <key>gjsHIT20007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,248},{114,80}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,9},{114,80}}</string>
                <key>sourceSize</key>
                <string>{150,100}</string>
            </dict>
            <key>gjsHIT20008.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,166},{114,80}}</string>
                <key>offset</key>
                <string>{-5,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,9},{114,80}}</string>
                <key>sourceSize</key>
                <string>{150,100}</string>
            </dict>
            <key>gjsHIT20009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,330},{114,80}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,9},{114,80}}</string>
                <key>sourceSize</key>
                <string>{150,100}</string>
            </dict>
            <key>gjsHIT20010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,166},{114,80}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,9},{114,80}}</string>
                <key>sourceSize</key>
                <string>{150,100}</string>
            </dict>
            <key>gjsHIT20011.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,84},{114,80}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,9},{114,80}}</string>
                <key>sourceSize</key>
                <string>{150,100}</string>
            </dict>
            <key>gjsHIT20012.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,84},{114,80}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,9},{114,80}}</string>
                <key>sourceSize</key>
                <string>{150,100}</string>
            </dict>
            <key>gjsHIT20013.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,2},{114,80}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,9},{114,80}}</string>
                <key>sourceSize</key>
                <string>{150,100}</string>
            </dict>
            <key>gjsHIT20014.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{114,80}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,9},{114,80}}</string>
                <key>sourceSize</key>
                <string>{150,100}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>gjsHIT2.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:151d79954d138edcb968e6fc456d15e7:cf1ae083d61599dee09e523a46ae2474:bec7f9629f9733506647d9c75d1ab953$</string>
            <key>textureFileName</key>
            <string>gjsHIT2.png</string>
        </dict>
    </dict>
</plist>
