<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>gjssd010001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,208},{64,90}}</string>
                <key>offset</key>
                <string>{-9,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,17},{64,90}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>gjssd010002.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,206},{64,90}}</string>
                <key>offset</key>
                <string>{-9,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,17},{64,90}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>gjssd010003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,140},{66,90}}</string>
                <key>offset</key>
                <string>{-9,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,17},{66,90}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>gjssd010004.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,138},{66,90}}</string>
                <key>offset</key>
                <string>{-9,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,17},{66,90}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>gjssd010005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{68,90}}</string>
                <key>offset</key>
                <string>{-10,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,17},{68,90}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>gjssd010006.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,412},{68,88}}</string>
                <key>offset</key>
                <string>{-10,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,19},{68,88}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>gjssd010007.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,362},{68,88}}</string>
                <key>offset</key>
                <string>{-10,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,19},{68,88}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>gjssd010008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,344},{68,88}}</string>
                <key>offset</key>
                <string>{-10,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,19},{68,88}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>gjssd010009.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,342},{68,88}}</string>
                <key>offset</key>
                <string>{-10,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,19},{68,88}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>gjssd010010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,274},{68,88}}</string>
                <key>offset</key>
                <string>{-10,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,19},{68,88}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>gjssd010011.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,272},{68,88}}</string>
                <key>offset</key>
                <string>{-10,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,19},{68,88}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>gjssd010012.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,272},{68,88}}</string>
                <key>offset</key>
                <string>{-10,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,19},{68,88}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>gjssd010013.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,182},{68,88}}</string>
                <key>offset</key>
                <string>{-10,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,19},{68,88}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>gjssd010014.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,92},{68,88}}</string>
                <key>offset</key>
                <string>{-10,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,19},{68,88}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>gjssd010015.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,2},{68,88}}</string>
                <key>offset</key>
                <string>{-10,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,19},{68,88}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>gjssd010016.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,414},{66,88}}</string>
                <key>offset</key>
                <string>{-9,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,19},{66,88}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>gjssd010017.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,72},{66,90}}</string>
                <key>offset</key>
                <string>{-9,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,17},{66,90}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>gjssd010018.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,70},{66,90}}</string>
                <key>offset</key>
                <string>{-9,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,17},{66,90}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>gjssd010019.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,2},{66,90}}</string>
                <key>offset</key>
                <string>{-10,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,17},{66,90}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>gjssd010020.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,208},{64,90}}</string>
                <key>offset</key>
                <string>{-9,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,17},{64,90}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>gjssd01.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f8f1d2cd397173c80ad8cbc9ee4dde75:d633ec0d23baf52540aaaa10af4bfdfa:58a675e397625862ce6a3cd4e5a3a33c$</string>
            <key>textureFileName</key>
            <string>gjssd01.png</string>
        </dict>
    </dict>
</plist>
