<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>gjsHIT10001.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,2},{60,76}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,2},{60,76}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>gjsHIT10002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,158},{60,76}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,0},{60,76}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>gjsHIT10003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,80},{60,76}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,3},{60,76}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>gjsHIT10004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{60,76}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,2},{60,76}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>gjsHIT10005.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,2},{60,76}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,2},{60,76}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>gjsHIT10006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,158},{60,76}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,0},{60,76}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>gjsHIT10007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,80},{60,76}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,3},{60,76}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>gjsHIT10008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{60,76}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,2},{60,76}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>gjsHIT10009.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,2},{60,76}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,2},{60,76}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>gjsHIT10010.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,2},{58,74}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,2},{58,74}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>gjsHIT10011.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,64},{56,72}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,3},{56,72}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>gjsHIT10012.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,62},{56,72}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,3},{56,72}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>gjsHIT10013.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,120},{54,70}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,4},{54,70}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>gjsHIT10014.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,122},{52,68}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,5},{52,68}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>gjsHIT1.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8457b14a4ec3b7853944d5601f1b573b:05370627f370110af7c679e66203ec46:d1e581d77d7a39e965be6b51b1eb3a32$</string>
            <key>textureFileName</key>
            <string>gjsHIT1.png</string>
        </dict>
    </dict>
</plist>
