<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>renwurun0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,188},{82,92}}</string>
                <key>offset</key>
                <string>{-10,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,18},{82,92}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>renwurun0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,364},{80,90}}</string>
                <key>offset</key>
                <string>{-8,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,21},{80,90}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>renwurun0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,272},{78,90}}</string>
                <key>offset</key>
                <string>{-7,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,23},{78,90}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>renwurun0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,352},{88,88}}</string>
                <key>offset</key>
                <string>{-11,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,20},{88,88}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>renwurun0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,2},{94,90}}</string>
                <key>offset</key>
                <string>{-13,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,18},{94,90}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>renwurun0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,94},{92,92}}</string>
                <key>offset</key>
                <string>{-14,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,16},{92,92}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>renwurun0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{92,94}}</string>
                <key>offset</key>
                <string>{-14,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,14},{92,94}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>renwurun0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,96},{90,92}}</string>
                <key>offset</key>
                <string>{-13,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,16},{90,92}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>renwurun0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,188},{82,90}}</string>
                <key>offset</key>
                <string>{-9,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,20},{82,90}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>renwurun0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,360},{80,88}}</string>
                <key>offset</key>
                <string>{-8,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,23},{80,88}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>renwurun0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,272},{78,86}}</string>
                <key>offset</key>
                <string>{-7,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,27},{78,86}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>renwurun0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,272},{80,90}}</string>
                <key>offset</key>
                <string>{-9,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,22},{80,90}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hanshirun.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c7b4a4f74bc8e5bb5c6c0b4a9dffaab2:ca4ddc2eb9a6c31bceebbebb102ff750:0cc48e58dcd237c780e74f7d93f4e484$</string>
            <key>textureFileName</key>
            <string>hanshirun.png</string>
        </dict>
    </dict>
</plist>
