<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>renwusd0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{690,2},{84,140}}</string>
                <key>offset</key>
                <string>{12,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,21},{84,140}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>renwusd0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{604,2},{84,140}}</string>
                <key>offset</key>
                <string>{12,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,21},{84,140}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>renwusd0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{570,144},{84,140}}</string>
                <key>offset</key>
                <string>{12,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{60,21},{84,140}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>renwusd0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{518,2},{84,140}}</string>
                <key>offset</key>
                <string>{11,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,21},{84,140}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>renwusd0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,2},{84,140}}</string>
                <key>offset</key>
                <string>{11,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,21},{84,140}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>renwusd0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,144},{84,140}}</string>
                <key>offset</key>
                <string>{11,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{59,21},{84,140}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>renwusd0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,2},{84,140}}</string>
                <key>offset</key>
                <string>{11,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,21},{84,140}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>renwusd0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{852,170},{82,138}}</string>
                <key>offset</key>
                <string>{11,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{60,23},{82,138}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>renwusd0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{860,86},{82,138}}</string>
                <key>offset</key>
                <string>{11,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{60,23},{82,138}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>renwusd0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{860,2},{82,138}}</string>
                <key>offset</key>
                <string>{11,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{60,23},{82,138}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>renwusd0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{776,2},{82,138}}</string>
                <key>offset</key>
                <string>{11,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,23},{82,138}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>renwusd0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{712,144},{82,138}}</string>
                <key>offset</key>
                <string>{11,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{60,23},{82,138}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>renwusd0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,144},{84,140}}</string>
                <key>offset</key>
                <string>{11,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{59,21},{84,140}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>renwusd0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,2},{84,140}}</string>
                <key>offset</key>
                <string>{11,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,21},{84,140}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>renwusd0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,2},{84,140}}</string>
                <key>offset</key>
                <string>{11,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,21},{84,140}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>renwusd0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,144},{84,140}}</string>
                <key>offset</key>
                <string>{11,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{59,21},{84,140}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>renwusd0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,2},{84,140}}</string>
                <key>offset</key>
                <string>{11,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,21},{84,140}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>renwusd0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,144},{84,140}}</string>
                <key>offset</key>
                <string>{12,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{60,21},{84,140}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>renwusd0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{84,140}}</string>
                <key>offset</key>
                <string>{12,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,21},{84,140}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>renwusd0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{690,2},{84,140}}</string>
                <key>offset</key>
                <string>{12,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,21},{84,140}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>renwusd0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{690,2},{84,140}}</string>
                <key>offset</key>
                <string>{12,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,21},{84,140}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>renwusd.png</string>
            <key>size</key>
            <string>{1024,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cf1cdafda87f6bc371ea6f50442428d5:168361ddd0b82aea5ccc5ac85a91dcf8:70cf8749aeb9174d9efec5cf78b3c21b$</string>
            <key>textureFileName</key>
            <string>renwusd.png</string>
        </dict>
    </dict>
</plist>
