<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hqsrun010001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,72},{66,86}}</string>
                <key>offset</key>
                <string>{10,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{37,22},{66,86}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>hqsrun010002.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,260},{64,84}}</string>
                <key>offset</key>
                <string>{10,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,24},{64,84}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>hqsrun010003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,140},{68,84}}</string>
                <key>offset</key>
                <string>{7,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,24},{68,84}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>hqsrun010004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,210},{66,84}}</string>
                <key>offset</key>
                <string>{10,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{37,24},{66,84}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>hqsrun010005.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,174},{66,84}}</string>
                <key>offset</key>
                <string>{12,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,24},{66,84}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>hqsrun010006.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,72},{68,84}}</string>
                <key>offset</key>
                <string>{10,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,24},{68,84}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>hqsrun010007.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,2},{68,86}}</string>
                <key>offset</key>
                <string>{10,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,22},{68,86}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>hqsrun010008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{68,86}}</string>
                <key>offset</key>
                <string>{11,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{37,22},{68,86}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>hqsrun010009.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,2},{70,84}}</string>
                <key>offset</key>
                <string>{11,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,24},{70,84}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>hqsrun010010.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,142},{66,84}}</string>
                <key>offset</key>
                <string>{11,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,24},{66,84}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>hqsrun010011.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,210},{64,84}}</string>
                <key>offset</key>
                <string>{10,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,25},{64,84}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>hqsrun010012.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,88},{66,84}}</string>
                <key>offset</key>
                <string>{10,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,24},{66,84}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hqsrun01.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d5ec9c3d301100be6d1f16205a55b392:251db4233796d3db2641e8edf3dd8eea:7185efe508c8b41a854b6ee7e272bcce$</string>
            <key>textureFileName</key>
            <string>hqsrun01.png</string>
        </dict>
    </dict>
</plist>
