<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hqsrun010001.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,130},{98,126}}</string>
                <key>offset</key>
                <string>{16,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,35},{98,126}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>hqsrun010002.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,2},{96,126}}</string>
                <key>offset</key>
                <string>{15,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{57,35},{96,126}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>hqsrun010003.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,388},{100,124}}</string>
                <key>offset</key>
                <string>{11,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{51,37},{100,124}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>hqsrun010004.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,386},{98,124}}</string>
                <key>offset</key>
                <string>{15,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,37},{98,124}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>hqsrun010005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,388},{100,124}}</string>
                <key>offset</key>
                <string>{17,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{57,37},{100,124}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>hqsrun010006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,260},{100,126}}</string>
                <key>offset</key>
                <string>{16,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,35},{100,126}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>hqsrun010007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{102,128}}</string>
                <key>offset</key>
                <string>{15,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,33},{102,128}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>hqsrun010008.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,2},{100,126}}</string>
                <key>offset</key>
                <string>{17,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,35},{100,126}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>hqsrun010009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,132},{104,126}}</string>
                <key>offset</key>
                <string>{17,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,35},{104,126}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>hqsrun010010.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,260},{98,126}}</string>
                <key>offset</key>
                <string>{17,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,35},{98,126}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>hqsrun010011.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,2},{96,126}}</string>
                <key>offset</key>
                <string>{15,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{57,37},{96,126}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>hqsrun010012.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,258},{96,126}}</string>
                <key>offset</key>
                <string>{16,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,35},{96,126}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hqsrun01.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3963ae6b8b5ea3f652c394af9c38e3c2:6393370bf02efbe816157848e53dd091:7185efe508c8b41a854b6ee7e272bcce$</string>
            <key>textureFileName</key>
            <string>hqsrun01.png</string>
        </dict>
    </dict>
</plist>
