<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>mvsd010001.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,384},{62,92}}</string>
                <key>offset</key>
                <string>{-5,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,15},{62,92}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>mvsd010002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,382},{62,92}}</string>
                <key>offset</key>
                <string>{-5,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,15},{62,92}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>mvsd010003.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,380},{62,92}}</string>
                <key>offset</key>
                <string>{-5,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,15},{62,92}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>mvsd010004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,318},{62,92}}</string>
                <key>offset</key>
                <string>{-5,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,15},{62,92}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>mvsd010005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,66},{62,94}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,13},{62,94}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>mvsd010006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,192},{60,94}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,13},{60,94}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>mvsd010007.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,194},{60,94}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,13},{60,94}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>mvsd010008.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,190},{60,94}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,13},{60,94}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>mvsd010009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,130},{60,94}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,13},{60,94}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>mvsd010010.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,128},{60,94}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,13},{60,94}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>mvsd010011.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,2},{62,94}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,13},{62,94}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>mvsd010012.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,98},{60,94}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,13},{60,94}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>mvsd010013.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,66},{60,94}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,13},{60,94}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>mvsd010014.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,2},{60,94}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,13},{60,94}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>mvsd010015.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{62,94}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,13},{62,94}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>mvsd010016.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,316},{62,92}}</string>
                <key>offset</key>
                <string>{-5,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,15},{62,92}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>mvsd010017.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,254},{62,92}}</string>
                <key>offset</key>
                <string>{-5,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,15},{62,92}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>mvsd010018.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,290},{62,92}}</string>
                <key>offset</key>
                <string>{-5,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,15},{62,92}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>mvsd010019.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,252},{62,92}}</string>
                <key>offset</key>
                <string>{-5,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,15},{62,92}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>mvsd010020.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,384},{62,92}}</string>
                <key>offset</key>
                <string>{-5,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,15},{62,92}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>mvsd01.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:53354216f441a39c8b444d12b7031a43:6ca996e6b58d1ec7b418c858e235487e:d89a9055bfd85ae4cb182545b95fec6f$</string>
            <key>textureFileName</key>
            <string>mvsd01.png</string>
        </dict>
    </dict>
</plist>
