<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>mnrun010001.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,2},{88,100}}</string>
                <key>offset</key>
                <string>{12,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,8},{88,100}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>mnrun010002.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,418},{92,100}}</string>
                <key>offset</key>
                <string>{10,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,7},{92,100}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>mnrun010003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,106},{94,102}}</string>
                <key>offset</key>
                <string>{9,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,5},{94,102}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>mnrun010004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,418},{92,102}}</string>
                <key>offset</key>
                <string>{10,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,5},{92,102}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>mnrun010005.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,2},{88,102}}</string>
                <key>offset</key>
                <string>{12,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,5},{88,102}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>mnrun010006.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,106},{86,102}}</string>
                <key>offset</key>
                <string>{13,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,4},{86,102}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>mnrun010007.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,314},{88,102}}</string>
                <key>offset</key>
                <string>{12,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,5},{88,102}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>mnrun010008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,314},{92,102}}</string>
                <key>offset</key>
                <string>{10,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,5},{92,102}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>mnrun010009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{94,102}}</string>
                <key>offset</key>
                <string>{9,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,5},{94,102}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>mnrun010010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,210},{92,102}}</string>
                <key>offset</key>
                <string>{10,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,5},{92,102}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>mnrun010011.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,210},{88,102}}</string>
                <key>offset</key>
                <string>{12,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,6},{88,102}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>mnrun010012.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,2},{86,100}}</string>
                <key>offset</key>
                <string>{13,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,8},{86,100}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>mnrun01.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:288111c54ed6511a30914cd5174dcde4:c4ae4384bd3b83b169b3033e6e822eb1:7d8ef114c817df8c7a8c078df8141c64$</string>
            <key>textureFileName</key>
            <string>mnrun01.png</string>
        </dict>
    </dict>
</plist>
