<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>mnHIT20001.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,90},{134,84}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,8},{134,84}}</string>
                <key>sourceSize</key>
                <string>{150,100}</string>
            </dict>
            <key>mnHIT20002.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,2},{134,86}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,6},{134,86}}</string>
                <key>sourceSize</key>
                <string>{150,100}</string>
            </dict>
            <key>mnHIT20003.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,2},{134,86}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,8},{134,86}}</string>
                <key>sourceSize</key>
                <string>{150,100}</string>
            </dict>
            <key>mnHIT20004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{134,86}}</string>
                <key>offset</key>
                <string>{-5,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,8},{134,86}}</string>
                <key>sourceSize</key>
                <string>{150,100}</string>
            </dict>
            <key>mnHIT20005.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,90},{134,84}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,8},{134,84}}</string>
                <key>sourceSize</key>
                <string>{150,100}</string>
            </dict>
            <key>mnHIT20006.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,2},{134,86}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,6},{134,86}}</string>
                <key>sourceSize</key>
                <string>{150,100}</string>
            </dict>
            <key>mnHIT20007.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,2},{134,86}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,8},{134,86}}</string>
                <key>sourceSize</key>
                <string>{150,100}</string>
            </dict>
            <key>mnHIT20008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{134,86}}</string>
                <key>offset</key>
                <string>{-5,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,8},{134,86}}</string>
                <key>sourceSize</key>
                <string>{150,100}</string>
            </dict>
            <key>mnHIT20009.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,90},{134,84}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,8},{134,84}}</string>
                <key>sourceSize</key>
                <string>{150,100}</string>
            </dict>
            <key>mnHIT20010.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,90},{134,84}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,8},{134,84}}</string>
                <key>sourceSize</key>
                <string>{150,100}</string>
            </dict>
            <key>mnHIT20011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,410},{134,84}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,8},{134,84}}</string>
                <key>sourceSize</key>
                <string>{150,100}</string>
            </dict>
            <key>mnHIT20012.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,274},{134,84}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,8},{134,84}}</string>
                <key>sourceSize</key>
                <string>{150,100}</string>
            </dict>
            <key>mnHIT20013.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,138},{134,84}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,8},{134,84}}</string>
                <key>sourceSize</key>
                <string>{150,100}</string>
            </dict>
            <key>mnHIT20014.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,2},{134,84}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,8},{134,84}}</string>
                <key>sourceSize</key>
                <string>{150,100}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>mnHIT2.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:493cc085b5408e184ad05ba06a945bd6:42e07077ef0e6b93636d96fcb72c99cc:f834149302545780109ac4d56cf3a505$</string>
            <key>textureFileName</key>
            <string>mnHIT2.png</string>
        </dict>
    </dict>
</plist>
