<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>xsssd0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,414},{90,134}}</string>
                <key>offset</key>
                <string>{16,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{61,27},{90,134}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>xsssd0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,414},{90,134}}</string>
                <key>offset</key>
                <string>{16,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{61,27},{90,134}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>xsssd0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,416},{90,134}}</string>
                <key>offset</key>
                <string>{16,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{61,27},{90,134}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>xsssd0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,324},{90,134}}</string>
                <key>offset</key>
                <string>{16,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,27},{90,134}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>xsssd0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,324},{90,134}}</string>
                <key>offset</key>
                <string>{16,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{61,27},{90,134}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>xsssd0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,278},{90,134}}</string>
                <key>offset</key>
                <string>{16,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,27},{90,134}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>xsssd0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,2},{90,136}}</string>
                <key>offset</key>
                <string>{16,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{61,25},{90,136}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>xsssd0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,232},{90,136}}</string>
                <key>offset</key>
                <string>{16,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{61,25},{90,136}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>xsssd0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,232},{90,136}}</string>
                <key>offset</key>
                <string>{16,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{61,25},{90,136}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>xsssd0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,94},{90,136}}</string>
                <key>offset</key>
                <string>{16,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,25},{90,136}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>xsssd0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,2},{90,136}}</string>
                <key>offset</key>
                <string>{16,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{61,25},{90,136}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>xsssd0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,140},{90,136}}</string>
                <key>offset</key>
                <string>{16,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{61,25},{90,136}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>xsssd0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{90,136}}</string>
                <key>offset</key>
                <string>{16,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,25},{90,136}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>xsssd0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,186},{90,134}}</string>
                <key>offset</key>
                <string>{16,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{61,27},{90,134}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>xsssd0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,322},{90,134}}</string>
                <key>offset</key>
                <string>{16,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{61,27},{90,134}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>xsssd0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,2},{90,134}}</string>
                <key>offset</key>
                <string>{16,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{61,27},{90,134}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>xsssd0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,94},{90,134}}</string>
                <key>offset</key>
                <string>{16,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{61,27},{90,134}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>xsssd0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,186},{90,134}}</string>
                <key>offset</key>
                <string>{16,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,27},{90,134}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>xsssd0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,94},{90,134}}</string>
                <key>offset</key>
                <string>{16,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{61,27},{90,134}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>xsssd0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,414},{90,134}}</string>
                <key>offset</key>
                <string>{16,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{61,27},{90,134}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>xsssd.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f685d14d20375ac641f9a657c5b99367:c82786eb7bab002c63fc7711466f43e0:54a8122f9aa87ae9f20cc6176936b0df$</string>
            <key>textureFileName</key>
            <string>xsssd.png</string>
        </dict>
    </dict>
</plist>
