<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>xssrun0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{116,146}}</string>
                <key>offset</key>
                <string>{-11,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,33},{116,146}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>xssrun0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,298},{114,146}}</string>
                <key>offset</key>
                <string>{-9,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,34},{114,146}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>xssrun0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,2},{110,144}}</string>
                <key>offset</key>
                <string>{-7,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,36},{110,144}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>xssrun0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,370},{126,134}}</string>
                <key>offset</key>
                <string>{-14,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,37},{126,134}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>xssrun0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,244},{140,124}}</string>
                <key>offset</key>
                <string>{-20,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,37},{140,124}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>xssrun0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,296},{140,126}}</string>
                <key>offset</key>
                <string>{-20,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,35},{140,126}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>xssrun0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,114},{140,128}}</string>
                <key>offset</key>
                <string>{-20,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,33},{140,128}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>xssrun0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,370},{128,134}}</string>
                <key>offset</key>
                <string>{-15,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,33},{128,134}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>xssrun0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,150},{118,144}}</string>
                <key>offset</key>
                <string>{-11,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,35},{118,144}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>xssrun0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,2},{114,144}}</string>
                <key>offset</key>
                <string>{-9,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,36},{114,144}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>xssrun0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,2},{110,144}}</string>
                <key>offset</key>
                <string>{-6,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,36},{110,144}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>xssrun0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,150},{114,146}}</string>
                <key>offset</key>
                <string>{-9,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,34},{114,146}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>xssrun.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1c3a5cdcd8f324980dbed4de56230079:bf09f23e28a86397e83ef449f7791c70:a2578b6409bf358f7fd8f735bd7fe69a$</string>
            <key>textureFileName</key>
            <string>xssrun.png</string>
        </dict>
    </dict>
</plist>
