<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>xsssd0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,448},{62,88}}</string>
                <key>offset</key>
                <string>{10,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{39,19},{62,88}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>xsssd0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,384},{62,88}}</string>
                <key>offset</key>
                <string>{10,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{39,19},{62,88}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>xsssd0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,370},{62,90}}</string>
                <key>offset</key>
                <string>{10,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,17},{62,90}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>xsssd0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,278},{62,90}}</string>
                <key>offset</key>
                <string>{10,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,17},{62,90}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>xsssd0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,258},{62,90}}</string>
                <key>offset</key>
                <string>{10,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{39,17},{62,90}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>xsssd0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,258},{62,90}}</string>
                <key>offset</key>
                <string>{10,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{39,17},{62,90}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>xsssd0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,194},{62,90}}</string>
                <key>offset</key>
                <string>{10,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{39,17},{62,90}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>xsssd0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,194},{62,90}}</string>
                <key>offset</key>
                <string>{10,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{39,17},{62,90}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>xsssd0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,186},{62,90}}</string>
                <key>offset</key>
                <string>{10,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,17},{62,90}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>xsssd0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,130},{62,90}}</string>
                <key>offset</key>
                <string>{10,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{39,17},{62,90}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>xsssd0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,130},{62,90}}</string>
                <key>offset</key>
                <string>{10,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{39,17},{62,90}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>xsssd0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,322},{60,90}}</string>
                <key>offset</key>
                <string>{10,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,17},{60,90}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>xsssd0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,94},{62,90}}</string>
                <key>offset</key>
                <string>{10,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,17},{62,90}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>xsssd0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,66},{62,90}}</string>
                <key>offset</key>
                <string>{10,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{39,17},{62,90}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>xsssd0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,66},{62,90}}</string>
                <key>offset</key>
                <string>{10,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{39,17},{62,90}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>xsssd0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,2},{62,90}}</string>
                <key>offset</key>
                <string>{10,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,17},{62,90}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>xsssd0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,2},{62,90}}</string>
                <key>offset</key>
                <string>{10,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{39,17},{62,90}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>xsssd0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{62,90}}</string>
                <key>offset</key>
                <string>{10,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{39,17},{62,90}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>xsssd0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,370},{62,88}}</string>
                <key>offset</key>
                <string>{10,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{39,19},{62,88}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>xsssd0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,448},{62,88}}</string>
                <key>offset</key>
                <string>{10,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{39,19},{62,88}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>xunshoushisd.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:96295df539a956b8ad4ef8a534c8c10c:4fa3ebdea5125ae6ec396c1d8ba631e7:8abd8b7078938d774eaba31728120bd9$</string>
            <key>textureFileName</key>
            <string>xunshoushisd.png</string>
        </dict>
    </dict>
</plist>
