<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hqssd010001.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,154},{74,88}}</string>
                <key>offset</key>
                <string>{8,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,19},{74,88}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>hqssd010002.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,154},{74,88}}</string>
                <key>offset</key>
                <string>{8,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,19},{74,88}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>hqssd010003.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,78},{74,88}}</string>
                <key>offset</key>
                <string>{8,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,19},{74,88}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>hqssd010004.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,78},{74,88}}</string>
                <key>offset</key>
                <string>{8,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,19},{74,88}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>hqssd010005.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,78},{74,88}}</string>
                <key>offset</key>
                <string>{8,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,19},{74,88}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>hqssd010006.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,2},{74,90}}</string>
                <key>offset</key>
                <string>{8,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,17},{74,90}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>hqssd010007.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,2},{74,90}}</string>
                <key>offset</key>
                <string>{8,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,17},{74,90}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>hqssd010008.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,2},{74,90}}</string>
                <key>offset</key>
                <string>{7,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,17},{74,90}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>hqssd010009.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,2},{74,90}}</string>
                <key>offset</key>
                <string>{8,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,17},{74,90}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>hqssd010010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,370},{74,90}}</string>
                <key>offset</key>
                <string>{8,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,17},{74,90}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>hqssd010011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,278},{74,90}}</string>
                <key>offset</key>
                <string>{8,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,17},{74,90}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>hqssd010012.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,186},{74,90}}</string>
                <key>offset</key>
                <string>{8,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,17},{74,90}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>hqssd010013.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,94},{74,90}}</string>
                <key>offset</key>
                <string>{8,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,17},{74,90}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>hqssd010014.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{74,90}}</string>
                <key>offset</key>
                <string>{7,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,17},{74,90}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>hqssd010015.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,78},{74,88}}</string>
                <key>offset</key>
                <string>{7,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,19},{74,88}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>hqssd010016.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,348},{74,88}}</string>
                <key>offset</key>
                <string>{7,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,19},{74,88}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>hqssd010017.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,258},{74,88}}</string>
                <key>offset</key>
                <string>{7,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,19},{74,88}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>hqssd010018.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,168},{74,88}}</string>
                <key>offset</key>
                <string>{8,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,19},{74,88}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>hqssd010019.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,78},{74,88}}</string>
                <key>offset</key>
                <string>{8,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,19},{74,88}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>hqssd010020.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,154},{74,88}}</string>
                <key>offset</key>
                <string>{8,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,19},{74,88}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hqssd01.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a5dcb1440c640f64823d274f321589fd:684a8adf7c98341e0db03c51342beae0:ab08506dd9f63a4f58bfa4037e27d626$</string>
            <key>textureFileName</key>
            <string>hqssd01.png</string>
        </dict>
    </dict>
</plist>
