<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>rzrun010001.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,178},{80,88}}</string>
                <key>offset</key>
                <string>{-7,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,19},{80,88}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>rzrun010002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,262},{84,84}}</string>
                <key>offset</key>
                <string>{-9,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,23},{84,84}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>rzrun010003.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,260},{86,80}}</string>
                <key>offset</key>
                <string>{-10,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,27},{86,80}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>rzrun010004.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,92},{88,84}}</string>
                <key>offset</key>
                <string>{-10,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,23},{88,84}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>rzrun010005.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,2},{90,88}}</string>
                <key>offset</key>
                <string>{-10,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,19},{90,88}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>rzrun010006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,88},{88,90}}</string>
                <key>offset</key>
                <string>{-10,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,17},{88,90}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>rzrun010007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{84,98}}</string>
                <key>offset</key>
                <string>{-9,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,9},{84,98}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>rzrun010008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,178},{82,88}}</string>
                <key>offset</key>
                <string>{-8,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,19},{82,88}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>rzrun010009.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,342},{78,78}}</string>
                <key>offset</key>
                <string>{-6,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,29},{78,78}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>rzrun010010.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,432},{78,80}}</string>
                <key>offset</key>
                <string>{-6,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,27},{78,80}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>rzrun010011.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,348},{78,82}}</string>
                <key>offset</key>
                <string>{-6,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,25},{78,82}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>rzrun010012.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,348},{80,84}}</string>
                <key>offset</key>
                <string>{-7,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,23},{80,84}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>rzrun01.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:327d5a4fda4403b22bcc98fe122a3d3d:9553ae2031f77d3c460b067a94572566:d3fcb8d76da2d45e3463227fd2e60e8a$</string>
            <key>textureFileName</key>
            <string>rzrun01.png</string>
        </dict>
    </dict>
</plist>
