<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>xssrun0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,262},{86,90}}</string>
                <key>offset</key>
                <string>{-12,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,22},{86,90}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>xssrun0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,88},{84,92}}</string>
                <key>offset</key>
                <string>{-10,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,22},{84,92}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>xssrun0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,88},{82,92}}</string>
                <key>offset</key>
                <string>{-9,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,23},{82,92}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>xssrun0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,88},{92,84}}</string>
                <key>offset</key>
                <string>{-13,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,23},{92,84}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>xssrun0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,2},{94,84}}</string>
                <key>offset</key>
                <string>{-13,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,23},{94,84}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>xssrun0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{94,84}}</string>
                <key>offset</key>
                <string>{-13,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,23},{94,84}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>xssrun0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,88},{92,86}}</string>
                <key>offset</key>
                <string>{-14,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,21},{92,86}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>xssrun0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,2},{92,86}}</string>
                <key>offset</key>
                <string>{-14,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,21},{92,86}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>xssrun0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,172},{88,90}}</string>
                <key>offset</key>
                <string>{-12,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,22},{88,90}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>xssrun0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,2},{84,92}}</string>
                <key>offset</key>
                <string>{-10,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,22},{84,92}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>xssrun0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,90},{82,92}}</string>
                <key>offset</key>
                <string>{-9,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,23},{82,92}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>xssrun0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,2},{84,92}}</string>
                <key>offset</key>
                <string>{-10,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,22},{84,92}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>xunshoushirun.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cdf8775e43acdc7f6cc0f075e6024938:24a77eef12b7d177d27e4ba2ee910b80:57ac7c74743a66488e86de8121766921$</string>
            <key>textureFileName</key>
            <string>xunshoushirun.png</string>
        </dict>
    </dict>
</plist>
