<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>yw0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{786,860},{232,102}}</string>
                <key>offset</key>
                <string>{-11,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,68},{232,102}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>yw0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{680,756},{232,104}}</string>
                <key>offset</key>
                <string>{-11,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,66},{232,104}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>yw0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,756},{232,112}}</string>
                <key>offset</key>
                <string>{-11,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,58},{232,112}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>yw0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{774,518},{242,110}}</string>
                <key>offset</key>
                <string>{-10,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,64},{242,110}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>yw0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{568,272},{256,118}}</string>
                <key>offset</key>
                <string>{-17,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,56},{256,118}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>yw0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{568,144},{266,126}}</string>
                <key>offset</key>
                <string>{-22,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,48},{266,126}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>yw0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,138},{276,136}}</string>
                <key>offset</key>
                <string>{-22,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,44},{276,136}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>yw0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,2},{282,134}}</string>
                <key>offset</key>
                <string>{-19,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,46},{282,134}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>yw0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{852,2},{254,144}}</string>
                <key>offset</key>
                <string>{9,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{42,36},{254,144}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>yw0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{574,2},{276,140}}</string>
                <key>offset</key>
                <string>{11,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,30},{276,140}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>yw0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{286,142}}</string>
                <key>offset</key>
                <string>{17,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,28},{286,142}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>yw0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{514,522},{236,140}}</string>
                <key>offset</key>
                <string>{-13,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,30},{236,140}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>yw0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{836,258},{258,142}}</string>
                <key>offset</key>
                <string>{-18,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,32},{258,142}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>yw0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,274},{268,128}}</string>
                <key>offset</key>
                <string>{-23,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,46},{268,128}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>yw0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,146},{272,126}}</string>
                <key>offset</key>
                <string>{-24,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,48},{272,126}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>yw0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,404},{232,128}}</string>
                <key>offset</key>
                <string>{-1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,52},{232,128}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>yw0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{528,392},{244,128}}</string>
                <key>offset</key>
                <string>{4,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,52},{244,128}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>yw0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,396},{240,130}}</string>
                <key>offset</key>
                <string>{2,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,50},{240,130}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>yw0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,276},{254,118}}</string>
                <key>offset</key>
                <string>{0,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,52},{254,118}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>yw0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{572,756},{232,106}}</string>
                <key>offset</key>
                <string>{-11,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,64},{232,106}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>yw0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{786,756},{232,102}}</string>
                <key>offset</key>
                <string>{-11,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,68},{232,102}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>yw0022.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,756},{232,108}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{39,66},{232,108}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>yw0023.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,756},{232,108}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{39,66},{232,108}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>yw0024.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,756},{232,108}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{39,66},{232,108}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>yw0025.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,756},{232,124}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{43,56},{232,124}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>yw0026.png</key>
            <dict>
                <key>frame</key>
                <string>{{752,630},{232,124}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,56},{232,124}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>yanwu.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a548538102498cc574318cd62dbf4d2d:87bc541c849e7dfca589a7431056311f:7a2457a4af0eb6dcf4c7955ab9047462$</string>
            <key>textureFileName</key>
            <string>yanwu.png</string>
        </dict>
    </dict>
</plist>
