<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>loading</key>
	<string>加载...</string>
	<key>YES</key>
	<string>是</string>
	<key>NO</key>
	<string>否</string>
	<key>notforsale</key>
	<string>本角色是非卖品，你可以通过赢取关卡的方式获取</string>
	<key>buycharacter</key>
	<string>您要用金币购买该角色吗？</string>
	<key>usethismap</key>
	<string>您要使用该地图吗？</string>
	<key>actionTips</key>
	<string>1.点击你的地盘。 2.攻击您的临近敌人。</string>
	<key>wintips</key>
	<string>恭喜您获胜！！！</string>
	<key>replay</key>
	<string>重玩</string>
	<key>share</key>
	<string>分享</string>
	<key>back</key>
	<string>退出</string>
	<key>lost</key>
	<string>您被打败了</string>
	<key>endTurn</key>
	<string>结束回合</string>
	<key>rewards</key>
	<string>奖励:</string>
	<key>exitTips</key>
	<string>确定想退出吗?</string>
	<key>nocoinsformercenary</key>
	<string>提示:抱歉您的金币不足，一批雇佣军需要10个金币。你可以通过赢取关卡，分享游戏或者商店购买获取更多金币。</string>
	<key>usecoinsformercenary</key>
	<string>提示:雇佣军已用完，您需要花费金币购买雇佣军，您愿意花费10金币购买一队雇佣军吗？</string>
	<key>losttips</key>
	<string>您可以使用雇佣军使你的国家强大，如果雇佣军用完，您看通过金币购买更多雇佣军。</string>
	<key>achieveclose</key>
	<string>未获取</string>
	<key>achievecollect</key>
	<string>收集</string>
	<key>achievefinish</key>
	<string>已完成</string>
	<key>soundEffect</key>
	<string>音效</string>
	<key>backMusic</key>
	<string>背景音乐</string>
	<key>supplyGetIt</key>
	<string>获取</string>
	<key>noviceStartGame</key>
	<string>选择‘是’开始游戏，地图每次都是随机生成。</string>
	<key>next</key>
	<string>下一步</string>
	<key>noviceEndTurn</key>
	<string>点击以下按钮以结束本回合,不要攻击过多敌人，这样会让你的地盘变弱，要时刻保持你的地盘强大。</string>
	<key>noviceFlagTips</key>
	<string>这里显示的是你最大相邻地盘个数，同时也表示你下回合可以获取的补兵数。</string>
	<key>noviceSupplyTips</key>
	<string>这里显示的是你本回合结束获得的补兵数，这些士兵将被随机补充到不同的地盘。接下来你的敌人将攻击，做好准备开火!!!</string>
	<key>noviceSelectTips</key>
	<string>选择本地盘战士作为你的攻击部队。</string>
	<key>noviceMyResult</key>
	<string>这是您的战斗结果:1, 4, 5, 6, 2, 2, 3, 总数:23。你有7个士兵，所以你有7次掷色子机会。</string>
	<key>noviceRobotResult</key>
	<string>这是敌人的战斗结果:5, 6, 总数:11。敌人只有2个单位士兵，所以你更容易获胜。</string>
	<key>noviceEngageMercenary</key>
	<string>点击这个按钮使用雇佣军。您可以获取额外的10个士兵，每4回合可以使用一次补兵。</string>
	<key>noviceAttackEnemy</key>
	<string>点击该区域作为你的进攻目标，你可以很轻松获胜，因为敌人该地区兵力很少。</string>
	<key>noviceFlagTips2</key>
	<string>您的最大相邻区域变成了9，拥有的最大地盘数变成了16.</string>
	<key>achieveNameWin2</key>
	<string>2人对战获胜</string>
	<key>achieveDetailWin2</key>
	<string>占领敌人所有的地盘。</string>
	<key>achieveNameWin3</key>
	<string>3人对战获胜</string>
	<key>achieveDetailWin3</key>
	<string>战胜其它2个敌人并占领他们的地盘。</string>
	<key>achieveNameWin4</key>
	<string>4人对战获胜</string>
	<key>achieveDetailWin4</key>
	<string>战胜其它3个敌人并占领他们的地盘。</string>
	<key>achieveNameWin5</key>
	<string>5人对战获胜</string>
	<key>achieveDetailWin5</key>
	<string>战胜其它4个敌人并占领他们的地盘。</string>
	<key>achieveNameWin6</key>
	<string>6人对战获胜</string>
	<key>achieveDetailWin6</key>
	<string>战胜其它5个敌人并占领他们的地盘。</string>
	<key>achieveNameWin7</key>
	<string>7人对战获胜</string>
	<key>achieveDetailWin7</key>
	<string>战胜其它6个敌人并占领他们的地盘。</string>
	<key>achieveDetailWin8</key>
	<string>战胜其它7个敌人并占领他们的地盘。</string>
	<key>achieveNameWin8</key>
	<string>8人对战获胜</string>
	<key>achieveContinousWin</key>
	<string>三连胜</string>
	<key>achieveContinousWinDetails</key>
	<string>连续获得三场对战的胜利。</string>
	<key>achieveShare</key>
	<string>分享</string>
	<key>achieveShareDetails</key>
	<string>通过社交平台分享此游戏。</string>
	<key>achieveEngage</key>
	<string>使用雇佣兵</string>
	<key>achieveEngageDetails</key>
	<string>在战斗中使用雇佣军助你赢取战斗。</string>
	<key>achieveCloseAnim</key>
	<string>关闭动画</string>
	<key>achieveCloseAnimDetails</key>
	<string>当您熟悉游戏之后关闭动画。</string>
	<key>achieveReplay</key>
	<string>重玩</string>
	<key>achieveReplayDetails</key>
	<string>战斗失败后，重玩当前战斗地图。</string>
	<key>achievePurchase</key>
	<string>购买金币</string>
	<key>achievePurchaseDetails</key>
	<string>在商场中购买金币。</string>
	<key>achieveColor</key>
	<string>选择颜色</string>
	<key>achieveColorDetails</key>
	<string>在游戏开始之前，选择您喜欢的地盘颜色。</string>
	<key>achieveCharacter</key>
	<string>变更角色</string>
	<key>achieveCharacterDetails</key>
	<string>在战斗开始之前，选择你喜欢的人物角色。</string>
	<key>achieveBuyEngage</key>
	<string>购买雇佣兵</string>
	<key>achieveBuyEngageDetails</key>
	<string>使用金币购买更多的雇佣兵。</string>
	<key>share_tittle</key>
	<string>岛屿小战争</string>
	<key>share_details</key>
	<string>快来这里成为霸主吧</string>
</dict>
</plist>
