<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>loding0.png</key>
		<dict>
			<key>frame</key>
			<string>{{170,254},{82,82}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4,4},{82,82}}</string>
			<key>sourceSize</key>
			<string>{90,90}</string>
		</dict>
		<key>loding1.png</key>
		<dict>
			<key>frame</key>
			<string>{{86,254},{82,82}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4,4},{82,82}}</string>
			<key>sourceSize</key>
			<string>{90,90}</string>
		</dict>
		<key>loding10.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,254},{82,82}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4,4},{82,82}}</string>
			<key>sourceSize</key>
			<string>{90,90}</string>
		</dict>
		<key>loding11.png</key>
		<dict>
			<key>frame</key>
			<string>{{170,170},{82,82}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4,4},{82,82}}</string>
			<key>sourceSize</key>
			<string>{90,90}</string>
		</dict>
		<key>loding2.png</key>
		<dict>
			<key>frame</key>
			<string>{{86,170},{82,82}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4,4},{82,82}}</string>
			<key>sourceSize</key>
			<string>{90,90}</string>
		</dict>
		<key>loding3.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,170},{82,82}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4,4},{82,82}}</string>
			<key>sourceSize</key>
			<string>{90,90}</string>
		</dict>
		<key>loding4.png</key>
		<dict>
			<key>frame</key>
			<string>{{170,86},{82,82}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4,4},{82,82}}</string>
			<key>sourceSize</key>
			<string>{90,90}</string>
		</dict>
		<key>loding5.png</key>
		<dict>
			<key>frame</key>
			<string>{{86,86},{82,82}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4,4},{82,82}}</string>
			<key>sourceSize</key>
			<string>{90,90}</string>
		</dict>
		<key>loding6.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,86},{82,82}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4,4},{82,82}}</string>
			<key>sourceSize</key>
			<string>{90,90}</string>
		</dict>
		<key>loding7.png</key>
		<dict>
			<key>frame</key>
			<string>{{170,2},{82,82}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4,4},{82,82}}</string>
			<key>sourceSize</key>
			<string>{90,90}</string>
		</dict>
		<key>loding8.png</key>
		<dict>
			<key>frame</key>
			<string>{{86,2},{82,82}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4,4},{82,82}}</string>
			<key>sourceSize</key>
			<string>{90,90}</string>
		</dict>
		<key>loding9.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{82,82}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4,4},{82,82}}</string>
			<key>sourceSize</key>
			<string>{90,90}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>loadingdh.png</string>
		<key>size</key>
		<string>{256,512}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:ea08b0b357d3a74afca411558afe91f5:8a397985128a2a2f8a03989d5c7b4bc2:37b7b3024ef6b5c680a3f88a687cf5e0$</string>
		<key>textureFileName</key>
		<string>loadingdh.png</string>
	</dict>
</dict>
</plist>
