<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cqssd010001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,354},{108,174}}</string>
                <key>offset</key>
                <string>{-13,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,6},{108,174}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>cqssd010002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,178},{108,174}}</string>
                <key>offset</key>
                <string>{-14,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,6},{108,174}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>cqssd010003.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,354},{106,174}}</string>
                <key>offset</key>
                <string>{-14,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,6},{106,174}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>cqssd010004.png</key>
            <dict>
                <key>frame</key>
                <string>{{530,354},{104,174}}</string>
                <key>offset</key>
                <string>{-15,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,6},{104,174}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>cqssd010005.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,178},{104,174}}</string>
                <key>offset</key>
                <string>{-15,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,6},{104,174}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>cqssd010006.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,2},{104,174}}</string>
                <key>offset</key>
                <string>{-15,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,6},{104,174}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>cqssd010007.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,354},{104,174}}</string>
                <key>offset</key>
                <string>{-15,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,6},{104,174}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>cqssd010008.png</key>
            <dict>
                <key>frame</key>
                <string>{{706,320},{104,172}}</string>
                <key>offset</key>
                <string>{-15,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,8},{104,172}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>cqssd010009.png</key>
            <dict>
                <key>frame</key>
                <string>{{538,214},{104,172}}</string>
                <key>offset</key>
                <string>{-15,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,8},{104,172}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>cqssd010010.png</key>
            <dict>
                <key>frame</key>
                <string>{{706,108},{104,172}}</string>
                <key>offset</key>
                <string>{-15,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,8},{104,172}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>cqssd010011.png</key>
            <dict>
                <key>frame</key>
                <string>{{880,2},{104,172}}</string>
                <key>offset</key>
                <string>{-15,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,8},{104,172}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>cqssd010012.png</key>
            <dict>
                <key>frame</key>
                <string>{{706,2},{104,172}}</string>
                <key>offset</key>
                <string>{-15,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,8},{104,172}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>cqssd010013.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,178},{104,174}}</string>
                <key>offset</key>
                <string>{-15,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,6},{104,174}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>cqssd010014.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,2},{104,174}}</string>
                <key>offset</key>
                <string>{-15,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,6},{104,174}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>cqssd010015.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,178},{104,174}}</string>
                <key>offset</key>
                <string>{-15,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,6},{104,174}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>cqssd010016.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,2},{104,174}}</string>
                <key>offset</key>
                <string>{-15,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,6},{104,174}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>cqssd010017.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,178},{106,174}}</string>
                <key>offset</key>
                <string>{-15,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,6},{106,174}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>cqssd010018.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,2},{106,174}}</string>
                <key>offset</key>
                <string>{-14,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,6},{106,174}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>cqssd010019.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{108,174}}</string>
                <key>offset</key>
                <string>{-14,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,6},{108,174}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>cqssd010020.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,354},{108,174}}</string>
                <key>offset</key>
                <string>{-13,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,6},{108,174}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>cqssd01.png</string>
            <key>size</key>
            <string>{1024,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:050ff3cf20261236bba68c94f25e280e:f0648038776798ca29a4cd789f1264df:820dfe7d21008a38fc1086e26b4e430c$</string>
            <key>textureFileName</key>
            <string>cqssd01.png</string>
        </dict>
    </dict>
</plist>
