<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>renwurun0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,2},{122,138}}</string>
                <key>offset</key>
                <string>{-15,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,27},{122,138}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>renwurun0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,142},{120,136}}</string>
                <key>offset</key>
                <string>{-13,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,31},{120,136}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>renwurun0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,2},{116,134}}</string>
                <key>offset</key>
                <string>{-10,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,35},{116,134}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>renwurun0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,2},{130,130}}</string>
                <key>offset</key>
                <string>{-16,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,31},{130,130}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>renwurun0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,148},{140,132}}</string>
                <key>offset</key>
                <string>{-20,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,29},{140,132}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>renwurun0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,290},{134,136}}</string>
                <key>offset</key>
                <string>{-18,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,25},{134,136}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>renwurun0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{124,144}}</string>
                <key>offset</key>
                <string>{-14,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,21},{124,144}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>renwurun0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,290},{120,138}}</string>
                <key>offset</key>
                <string>{-12,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,29},{120,138}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>renwurun0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,260},{116,128}}</string>
                <key>offset</key>
                <string>{-10,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,41},{116,128}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>renwurun0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,134},{130,124}}</string>
                <key>offset</key>
                <string>{-18,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,37},{130,124}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>renwurun0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,2},{122,138}}</string>
                <key>offset</key>
                <string>{-15,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,27},{122,138}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>renwurun0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,142},{120,136}}</string>
                <key>offset</key>
                <string>{-13,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,31},{120,136}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>renwurun.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0251ddb425852c4583b058540931cc94:9b4835e352cb2efd98b88ce5d9226dec:1743a6d6bd9721ce71cc5ccdda7c3fbe$</string>
            <key>textureFileName</key>
            <string>renwurun.png</string>
        </dict>
    </dict>
</plist>
