<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>rzHIT10001.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,158},{72,76}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{72,76}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>rzHIT10002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,80},{74,76}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,76}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>rzHIT10003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{74,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{74,76}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>rzHIT10004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,158},{72,76}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{72,76}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>rzHIT10005.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,158},{72,76}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{72,76}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>rzHIT10006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,80},{74,76}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,76}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>rzHIT10007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{74,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{74,76}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>rzHIT10008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,158},{72,76}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{72,76}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>rzHIT10009.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,158},{72,76}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{72,76}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>rzHIT10010.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,2},{72,74}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{72,74}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>rzHIT10011.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,2},{70,72}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,3},{70,72}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>rzHIT10012.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,76},{68,70}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,4},{68,70}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>rzHIT10013.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,76},{66,68}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,5},{66,68}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>rzHIT10014.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,146},{64,66}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,6},{64,66}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>rzHIT1.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3a59d4fc16490a0cbba42fc795d83d26:3bcc6155eee53fa39c875965145c3bc1:ddd5e767a85e730c5783580852400433$</string>
            <key>textureFileName</key>
            <string>rzHIT1.png</string>
        </dict>
    </dict>
</plist>
