<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>rzrun010001.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,136},{118,130}}</string>
                <key>offset</key>
                <string>{-10,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,31},{118,130}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>rzrun010002.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,124},{124,126}}</string>
                <key>offset</key>
                <string>{-13,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,35},{124,126}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>rzrun010003.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,2},{128,120}}</string>
                <key>offset</key>
                <string>{-14,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,41},{128,120}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>rzrun010004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,290},{132,126}}</string>
                <key>offset</key>
                <string>{-15,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,35},{132,126}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>rzrun010005.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,2},{132,130}}</string>
                <key>offset</key>
                <string>{-14,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,31},{132,130}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>rzrun010006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,152},{130,136}}</string>
                <key>offset</key>
                <string>{-14,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,25},{130,136}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>rzrun010007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{126,148}}</string>
                <key>offset</key>
                <string>{-13,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,13},{126,148}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>rzrun010008.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,290},{122,130}}</string>
                <key>offset</key>
                <string>{-11,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,31},{122,130}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>rzrun010009.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,250},{116,116}}</string>
                <key>offset</key>
                <string>{-8,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,45},{116,116}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>rzrun010010.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,130},{116,120}}</string>
                <key>offset</key>
                <string>{-8,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,41},{116,120}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>rzrun010011.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,248},{116,122}}</string>
                <key>offset</key>
                <string>{-8,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,39},{116,122}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>rzrun010012.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,2},{118,126}}</string>
                <key>offset</key>
                <string>{-9,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,35},{118,126}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>rzrun01.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:416f5c07c8dbe9d4e893e1610f6e952f:e3ffd1c3fb9733f3cdfde6c82dffdb5a:d3fcb8d76da2d45e3463227fd2e60e8a$</string>
            <key>textureFileName</key>
            <string>rzrun01.png</string>
        </dict>
    </dict>
</plist>
