<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>yw0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,700},{219,95}}</string>
                <key>offset</key>
                <string>{1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,90},{219,95}}</string>
                <key>sourceSize</key>
                <string>{333,267}</string>
            </dict>
            <key>yw0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,659},{219,99}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,86},{219,99}}</string>
                <key>sourceSize</key>
                <string>{333,267}</string>
            </dict>
            <key>yw0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{695,479},{219,105}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,80},{219,105}}</string>
                <key>sourceSize</key>
                <string>{333,267}</string>
            </dict>
            <key>yw0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{516,367},{227,103}}</string>
                <key>offset</key>
                <string>{3,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,86},{227,103}}</string>
                <key>sourceSize</key>
                <string>{333,267}</string>
            </dict>
            <key>yw0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{516,254},{243,111}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,78},{243,111}}</string>
                <key>sourceSize</key>
                <string>{333,267}</string>
            </dict>
            <key>yw0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{263,252},{251,119}}</string>
                <key>offset</key>
                <string>{-9,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,70},{251,119}}</string>
                <key>sourceSize</key>
                <string>{333,267}</string>
            </dict>
            <key>yw0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{544,2},{261,129}}</string>
                <key>offset</key>
                <string>{-11,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,66},{261,129}}</string>
                <key>sourceSize</key>
                <string>{333,267}</string>
            </dict>
            <key>yw0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{273,2},{269,127}}</string>
                <key>offset</key>
                <string>{-10,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,68},{269,127}}</string>
                <key>sourceSize</key>
                <string>{333,267}</string>
            </dict>
            <key>yw0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{807,2},{239,135}}</string>
                <key>offset</key>
                <string>{20,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{67,60},{239,135}}</string>
                <key>sourceSize</key>
                <string>{333,267}</string>
            </dict>
            <key>yw0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,137},{259,131}}</string>
                <key>offset</key>
                <string>{22,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,54},{259,131}}</string>
                <key>sourceSize</key>
                <string>{333,267}</string>
            </dict>
            <key>yw0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{269,133}}</string>
                <key>offset</key>
                <string>{27,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,52},{269,133}}</string>
                <key>sourceSize</key>
                <string>{333,267}</string>
            </dict>
            <key>yw0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,405},{223,133}}</string>
                <key>offset</key>
                <string>{-1,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,52},{223,133}}</string>
                <key>sourceSize</key>
                <string>{333,267}</string>
            </dict>
            <key>yw0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,270},{243,133}}</string>
                <key>offset</key>
                <string>{-5,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,56},{243,133}}</string>
                <key>sourceSize</key>
                <string>{333,267}</string>
            </dict>
            <key>yw0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{536,133},{253,119}}</string>
                <key>offset</key>
                <string>{-10,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,70},{253,119}}</string>
                <key>sourceSize</key>
                <string>{333,267}</string>
            </dict>
            <key>yw0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{273,131},{261,119}}</string>
                <key>offset</key>
                <string>{-14,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,70},{261,119}}</string>
                <key>sourceSize</key>
                <string>{333,267}</string>
            </dict>
            <key>yw0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,472},{219,123}}</string>
                <key>offset</key>
                <string>{10,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,72},{219,123}}</string>
                <key>sourceSize</key>
                <string>{333,267}</string>
            </dict>
            <key>yw0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{791,243},{229,121}}</string>
                <key>offset</key>
                <string>{15,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,74},{229,121}}</string>
                <key>sourceSize</key>
                <string>{333,267}</string>
            </dict>
            <key>yw0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{247,373},{225,123}}</string>
                <key>offset</key>
                <string>{13,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,72},{225,123}}</string>
                <key>sourceSize</key>
                <string>{333,267}</string>
            </dict>
            <key>yw0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{761,366},{239,111}}</string>
                <key>offset</key>
                <string>{11,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,74},{239,111}}</string>
                <key>sourceSize</key>
                <string>{333,267}</string>
            </dict>
            <key>yw0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{223,617},{219,99}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,86},{219,99}}</string>
                <key>sourceSize</key>
                <string>{333,267}</string>
            </dict>
            <key>yw0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{669,689},{219,95}}</string>
                <key>offset</key>
                <string>{1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,90},{219,95}}</string>
                <key>sourceSize</key>
                <string>{333,267}</string>
            </dict>
            <key>yw0022.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,597},{219,101}}</string>
                <key>offset</key>
                <string>{7,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,88},{219,101}}</string>
                <key>sourceSize</key>
                <string>{333,267}</string>
            </dict>
            <key>yw0023.png</key>
            <dict>
                <key>frame</key>
                <string>{{695,586},{219,101}}</string>
                <key>offset</key>
                <string>{7,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,88},{219,101}}</string>
                <key>sourceSize</key>
                <string>{333,267}</string>
            </dict>
            <key>yw0024.png</key>
            <dict>
                <key>frame</key>
                <string>{{916,479},{219,101}}</string>
                <key>offset</key>
                <string>{7,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{64,88},{219,101}}</string>
                <key>sourceSize</key>
                <string>{333,267}</string>
            </dict>
            <key>yw0025.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,540},{219,117}}</string>
                <key>offset</key>
                <string>{10,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,78},{219,117}}</string>
                <key>sourceSize</key>
                <string>{333,267}</string>
            </dict>
            <key>yw0026.png</key>
            <dict>
                <key>frame</key>
                <string>{{227,498},{219,117}}</string>
                <key>offset</key>
                <string>{10,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,78},{219,117}}</string>
                <key>sourceSize</key>
                <string>{333,267}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>yanwu.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ce80ad420166e6c11eece2610d67bae1:092378bd935504ff8d030409d5a7a632:7a2457a4af0eb6dcf4c7955ab9047462$</string>
            <key>textureFileName</key>
            <string>yanwu.png</string>
        </dict>
    </dict>
</plist>
