<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>zssl0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,74},{28,20}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,5},{28,20}}</string>
                <key>sourceSize</key>
                <string>{40,30}</string>
            </dict>
            <key>zssl0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,104},{32,22}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{32,22}}</string>
                <key>sourceSize</key>
                <string>{40,30}</string>
            </dict>
            <key>zssl0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{36,70},{32,22}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,4},{32,22}}</string>
                <key>sourceSize</key>
                <string>{40,30}</string>
            </dict>
            <key>zssl0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,50},{32,22}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{32,22}}</string>
                <key>sourceSize</key>
                <string>{40,30}</string>
            </dict>
            <key>zssl0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{36,36},{32,22}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,4},{32,22}}</string>
                <key>sourceSize</key>
                <string>{40,30}</string>
            </dict>
            <key>zssl0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,26},{32,22}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{32,22}}</string>
                <key>sourceSize</key>
                <string>{40,30}</string>
            </dict>
            <key>zssl0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{36,2},{32,22}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,4},{32,22}}</string>
                <key>sourceSize</key>
                <string>{40,30}</string>
            </dict>
            <key>zssl0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{32,22}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{32,22}}</string>
                <key>sourceSize</key>
                <string>{40,30}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>zssl.png</string>
            <key>size</key>
            <string>{64,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:37b7cd2540b8c13871bc738c7fe49c66:8dba97f0a1a00d136a9ad635d740ced0:d42712310ff0530cacf603cf7e29b15a$</string>
            <key>textureFileName</key>
            <string>zssl.png</string>
        </dict>
    </dict>
</plist>
